#header {
  display: flex;
  flex-direction: row;
  height: 4rem;
  background-color: #efefef;
  align-items: center;
  justify-content: center;
}

#main-logo {
  width: 5rem;
  height: 5rem;
}

#resume-button {
  display: table;
  position: absolute;
  right: 4rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: lowercase;
  margin: 0 0.5rem 0 0;
  color: black;
  border-color: black;
}

#resume-button:hover {
  font-weight: bold;
  color: white;
  background-color: black;
}
